* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url("https://www.unsplash.it/1920/1080/?1/");
    background-size: cover;
    background-repeat: no-repeat;
}

header h1 {
    margin: 2vh 65% 2vh 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 65%);
}

header nav ul li {
    display: inline-block;
    margin: 2.5vh;
}